<!DOCTYPE html>
<html>
  <head>
    <title>ILEO - I Learn English Online</title>
    <!-- Favicon Icon -->
		<link rel="icon" type="image/png" href="images/fav.png">

    <!-- META TAGS -->
    <meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, shrink-to-fit=9">
		<meta name="description" content="Gambolthemes">
		<meta name="author" content="Gambolthemes">

    <!-- SECURITY TAGS -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- RESOURCE TAGS -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <%= javascript_pack_tag 'bottom_load', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
